* {
  margin: 0;
  padding: 0;
}

:root {
  --text-primary-color: #fff;
  --dark-color: #002a4a;
  --background-color: #0f172a;
}

html {
  font-size: 62.5%;
  color: var(--text-primary-color);
  background-color: var(--dark-color);
  font-family: "inter", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--background-color);
}

.header nav {
   display: flex;
   justify-content: space-between;
   font-size: 2.4rem;
   width: 100%;
   margin: 15px 40px;
}

.header nav a{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-primary-color);
    transition: transform 0.3s ease, filter 0.5s ease;
}